{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'translator_app/style.css' %}">
    <title>Fantasy language speech generator</title>
    <h1>Alright!</h1>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RRQ1RWSH4Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RRQ1RWSH4Q');
    </script>
  </head>
  <body>
    <section class="left">
      <div class='translation_form'>
        <form method="post">
            {% csrf_token %}
            <label>Templates:</label>
            </br>
            {{ form.fantasy_language_select }}
            </br>
            </br>
            <label>Influences:</label>
            </br>
            {{ form.real_language_influences }}
            </br>
            </br>
            <label>More of:</label>
            {{ form.more_of }}
            </br>
            <label>Less of:</label>
            {{ form.less_of }}
            </br>
            <label>None of:</label>
            {{ form.none_of }}
            </br>
            </br>
            <label>Enter text:</label>
            </br>
            {{ form.enter_text }}
            </br>
            <input type="submit" value="Submit">
        </form>
      </div>
      </br>
      <div class='output_box'>
        {{ output }}
        </br>
        <input type="button" value="Clear form" onClick="location.href=location.href">
      </div>
    </section>
    <section class='right'>
      <div class='instructions'>
        <h2>Instructions</h2>
        <p>Use this tool to translate English phrases into gibberish that takes the guise of a different language, selected by you. Parameters function as follows:</p>
        <ul>
          <li><b>Influences</b>: Select one or more real languages to influence your translation. You must select at least one language.</li>
          <li><b>More of</b>: Enter up to 6 characters to increase their frequency in the translation.</li>
          <li><b>Less of</b>: Enter up to 6 characters to decrease their frequency in the translation.</li>
          <li><b>None of</b>: Enter up to 6 characters that will not be included in the translation. Depending on the characters and selected language(s), this may render translation impossible.</li>
          <li><b>Enter text</b>: Type the phrase you want translated here. If you preface a word with the "@" symbol (e.g. "@Douglas"), the word will not be translated.</li>
        </ul>
        <p>The designer's intended application of this tool is for use in generating fantasy languages. An example is listed below.</p>
        <h4>Dwarvish:</h4>
        <ul>
          <li><b>Influences</b>: Danish, German, Swedish</li>
          <li><b>More of</b>: B, R</li>
          <li><b>Less of</b>: Z</li>
        </ul>
        <p><i>"I am a Dwarf and I'm digging a hole."</i> becomes <i>"Ola ka li Ben nu Ard'en arla in ile."</i></p>
      </div>
    </section>
    </body>
    <!--Shout out to the Circle of Friends: Circe, Dee, Pablo, & Remy!-->
  <script src="{% static 'translator_app/scripts.js' %}"></script>
</html> 